
.header {
  display: grid;
  grid-template-areas: 'logo nav';
  grid-template-columns: 1fr 2fr;

  height: 80px;
  padding: 10px;
  background-color: antiquewhite;
}
.header > * {
  margin: auto;
}
.logo {
  grid-area: logo;
}
